.content {
    display: flex;
    justify-content: center;
}

#table-sudoku {
    border: 2px solid black;
    width: 450px;
    height: 450px;
    border-collapse: collapse;
}

#table-sudoku td {
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 22px;
    letter-spacing: 1px;
    vertical-align: middle;
    text-align: center;
    width: 50px;
    height: 50px;
}

.tr-bold {
    border-bottom: 2px solid black;
}

.td-bold {
    border-right: 2px solid black;
}

.tr-normal,
.td-normal {
    border: 1px solid gray;
    cursor: default;
}

.focus-cell:hover {
    background-color: rgb(255, 192, 70);
}

.focus-row,
.focus-col
{
    background-color: rgba(255, 192, 70, 0.2);
}


.change {
    background-color: rgb(255, 192, 70);
}

.button-control {
    height: 45px;
}