<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sudoku</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="content">
        <table id="content">
            <tr>
                <td><button class="button-control">ОЧИСТИТь</button></td>
                <td><button class="button-control">ОЧИСТИТь</button></td>
                <td><button class="button-control">ОЧИСТИТь</button></td>
                <td><button class="button-control">ОЧИСТИТь</button></td>
                <td><button class="button-control">ОЧИСТИТь</button></td>
            </tr>
            <tr>
                <td colspan="5">
                    <table id="table-sudoku">
                    </table>
                </td>
            </tr>
        </table>
    </div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>